.VideoPlayer{
    display: flex;
    
    //align-items: center;
    margin-top: 60px;
    //height: 500px;
   // width: 850px;
    justify-content: center;
}

.backgroundVid{
    display: flex;
    justify-content: center;
    //margin-top:50px;
    margin-right: 20px;
}